:root {
    --main-color: #6054b6;
    --dark-main: #8b82ca;
}
h1 {
    fontweight: 800;
    font-size: 2.5em;
    line-height: 110%;
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}
h1 span {
    color: var(--main-color);
}

.dataContainer {
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.mainContainer {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em calc(0.05 * 100vw);
}

p {
    color: #898989;
    margin: 0.7em 0;
    font-size: 1em;
}
::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: var(--main-color);
}

::selection {
    color: white;
    background: var(--main-color);
}

textarea,
.waveButton {
    width: 100%;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    border: 1px solid #ddd;
    color: #898989;
    padding: 20px;
    margin-top: 1.5em;
    height: 100px;
    font-size: 1em;
}
button {
    border: none;
    cursor: pointer;
    outline: none;
}

.waveButton {
    margin-top: 0.8em;

    background: var(--main-color);
    color: white;
}

.connect {
    color: var(--main-color);
    background: #eeedf7;
}

.connect:hover {
    color: white;
}
a {
    text-decoration: none;
    color: var(--main-color);
}

.avatar {
    padding: 1em calc(0.05 * 100vw);
    padding-bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.avatar > svg {
    margin-left: -14px;
}

button:hover {
    background: #473d8f;
}

.changeMode {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #dedbf0; */
    background: #f5f4fa;
    border-radius: 5px;
}

.changeMode svg {
    height: 16px;
    fill: #2c3e50;
}

.changeMode:hover svg {
    fill: white;
}

/* dark mode */

.dark p {
    color: #ccc;
}

.dark h1 {
    color: #efefef;
}

.dark textarea {
    background: #1b2631;
    border-color: #121a21;
    color: #bbb;
}

.dark .changeMode {
    background: #1b2631;
}

.dark h1 span,
.dark a {
    color: var(--dark-main);
}

.dark .waveButton {
    background: var(--dark-main);
}
.dark .waveButton:hover {
    background: #473d8f;
}

.dark .changeMode svg {
    fill: #fff;
}

.dark .connect {
    background: transparent;
    color: #fff;
}

.dark .connect:hover {
    background: transparent;
    color: #fff;
}
